{% extends "base.html" %}
{% block content %} 


<div>
    <div class="grayelem" style="width:65%;display: inline-block">
        <h3>{{classification.title}}</h3>
        <p>{{classification.text}}</p>
        <div>
            <br>
            <a href="{{base_path}}/classification/{{classification.id}}/edit" class="btn btn-default">Muokkaa</a>
            {% if not tasks %}
            <form method="post" action="{{base_path}}/classification/{{classification.id}}/delete" >
                <button type="submit" class="btn btn-default">Poista</button>
            </form>

            {% endif %}

        </div>
    </div>
</div>
<br>

<div>
    <p>Taskit joilla on luokittelu "{{classification.title}}"</p>

    <table style="width: 70%; display: inline-block" class="table table-condensed">
        <thead>
            <tr>
                <th style="width: 100px">Title</th>
                <th style="width: 70px">Date</th>
                <th style="width: 300px">Text field</th>
            </tr>
        </thead>

        <tbody>

            {% for task in tasks %}
            <tr>
                <td><a href="/tsoha/task/{{task.id}}">{{task.title}}</a></td>
                <td>{{task.date}}</td>
                <td><blockquote>
                        <p>{{task.text}}</p>
                    </blockquote></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<footer>
    <div align="bottom"> 
        <a href="/tsoha">Takaisin</a>
    </div>
</footer>
{% endblock %}

