{% extends "base.html" %}
{% block content %} 


<div>

    <div>
        <div>
            <div>

                <div class="grayelem" style="width:65%;display: inline-block">

                    <form method="post" action="{{base_path}}/classification/{{classification.id}}/edit">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="{{classification.title}}" >
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="text">{{classification.text}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button> <a href="{{base_path}}/classification/{{classification.id}}" class="btn btn-default">Kumoa</a>

                    </form>

                </div>
            </div>
        </div>

    </div>


</div>
<br>
<footer>
    <div align="bottom"> 
        <a href="{{base_path}}/task/{{task.id}}">Takaisin</a>
    </div>
</footer>
{% endblock %}

