#main-container{
    max-width: 1200px;
    padding: 10px 25px;
    margin: 0px auto;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0px auto;
}

div.whitelem{
    background-color:#f9f9f9;
    padding:30px;
    border-radius: 10px;
    display: inline-block;
}
div.grayelem{
    background-color:#e8e8e8;
    padding:30px;
    border-radius: 10px;
    display: inline-block;
}