{% extends "base.html" %}

{% block content %}



<div>


    <div>
        <table style="width: 20%" class="table table-condensed">
            <thead>
                <tr class="active">
                    <th>Title</th>
                    <th>Date</th>
                    <th>Texfield</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
                <tr>
                    <td>111111</td>
                    <td>22222</td>
                    <td>333333</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div>
        <ul>
            <li><a>List item 1</a></li>
            <li><a>List item 2</a></li>
            <li><a>List item 3</a></li>
            <li><a>List item 4</a></li>
            <li><a>List item 5</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
            <li><a>List item aa</a></li>
        </ul>
    </div>

</div>
{% endblock %}
