{% extends "base.html" %}

{% block content %}



<div>


    <div class="grayelem">
        <div class="whitelem">
            <table style="width: 60%; display: inline-block" class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 100px">Title</th>
                        <th style="width: 70px">Date</th>
                        <th style="width: 300px">Texfield</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="/tsoha/task">Task title here</a></td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Vapaan tekstikentän 100 ensimmäistä merkkiä tms. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Kalja</td>
                        <td>24 March</td>
                        <td><blockquote>
                                <p>Muista korkata</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Task title here</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Vapaan tekstikentän 100 ensimmäistä merkkiä tms. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Kuusi mänty koivu</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>23 March</td>
                        <td><blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote></td>
                    </tr>

                </tbody>
            </table>

            <div style="width: 25%; display: inline-block;vertical-align: top;">
              
                    <ul class="list-group">
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Pitkäniminen luokittelu täs</a></li>
                        <li class="list-group-item"><a>Lyhyt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                        <li class="list-group-item"><a>Eksponenttijakauma</a></li>
                        <li class="list-group-item"><a>Metsätyöt</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--
        <div class="grayelem">
            <div >
                <ul class="list-group">
                    <li class="list-group-item"><a>List item 1</a></li>
                    <li class="list-group-item"><a>List item 2</a></li>
                    <li class="list-group-item"><a>List item 3</a></li>
                    <li class="list-group-item"><a>List item 4</a></li>
                    <li class="list-group-item"><a>List item 5</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                    <li class="list-group-item"><a>List item aa</a></li>
                </ul>
            </div>
        </div>
    -->
</div>
{% endblock %}
