{% extends "base.html" %}

{% block content %}



<div>


    <div class="grayelem">
        <div class="whitelem">
            <h3>Tasks</h3>
            <table style="width: 70%; display: inline-block" class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 100px">Title</th>
                        <th style="width: 70px">Date</th>
                        <th style="width: 300px">Textfield</th>
                    </tr>
                </thead>

                <tbody>

                    {% for task in tasks %}
                    <tr>
                        <td><a href="/tsoha/task/{{task.id}}">{{task.title}}</a></td>
                        <td>{{task.date}}</td>
                        <td><blockquote>
                                <p>{{task.text}}</p>
                            </blockquote></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style="width: 25%; display: inline-block;vertical-align: top; float:right">

                <p>Luokittelut</p>

                <ul class="list-group">



                    {% for c in classifications %}
                    <li class="list-group-item"><a href = "/tsoha/classification/{{c.id}}" >{{c.title}}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}
