{% extends "base.html" %}

{% block content %}



<div>


    <div class="grayelem">
        <div class="whitelem">
            <h2>Tasks</h2>
            <table style="width: 70%; display: inline-block" class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 100px">Title</th>
                        <th style="width: 70px">Date</th>
                        <th style="width: 300px">Textfield</th>
                    </tr>
                </thead>

                <tbody>

                    {% for task in tasks %}
                    <tr>
                        <td><a href="/tsoha/task/{{task.id}}">{{task.title}}</a></td>
                        <td>{{task.date}}</td>
                        <td><blockquote>
                                <p>{{task.text}}</p>
                            </blockquote></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style="width: 25%; display: inline-block;vertical-align: top; float:right">
                <p>Luokittelut</p>
                <ul class="list-group">
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Pitkäniminen luokittelu täs</a></li>
                    <li class="list-group-item"><a>Lyhyt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                    <li class="list-group-item"><a>Eksponenttijakauma</a></li>
                    <li class="list-group-item"><a>Metsätyöt</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--
    <div class="grayelem">
        <div >
            <ul class="list-group">
                <li class="list-group-item"><a>List item 1</a></li>
                <li class="list-group-item"><a>List item 2</a></li>
                <li class="list-group-item"><a>List item 3</a></li>
                <li class="list-group-item"><a>List item 4</a></li>
                <li class="list-group-item"><a>List item 5</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
                <li class="list-group-item"><a>List item aa</a></li>
            </ul>
        </div>
    </div>

</div>
-->
{% endblock %}
