{% extends "base.html" %}
{% block content %} 


<div>
    <div class="grayelem" style="width:65%;display: inline-block">
        <h3>{{task.title}}</h3>
        <p>{{task.text}}</p>
        <div>
            <br>
            <a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-default">Muokkaa</a>
            <a href="{{base_path}}/task/{{task.id}}/delete" class="btn btn-default">Poista</a>
            <br>
        </div>
    </div>
</div>

<footer>
    <div align="bottom"> 
        <a href="/tsoha">Takaisin</a>
    </div>
</footer>
{% endblock %}

