{% extends "base.html" %}
{% block content %} 


<div>




    <div class="grayelem" style="width:65%;display: inline-block">

        <h3>{{task.title}}</h3>

        <p>          
            {{task.text}}
        </p>



        <div>
            <br>
            <a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-default">Muokkaa</a>

            <button class="btn btn-default" type="button">Poista</button>
            <br>
            <br>
        </div>
    </div>






</div>


<footer>
    <div align="bottom"> 
        <a href="/tsoha">Takaisin</a>
    </div>
</footer>
{% endblock %}

